:root {
  --main-color: #1a1938;
  --secondary-color: #fff;
  --tertiary-color: #323648;
  --text-color: #323648;
  --grey-200: #e9ecef;
  --btn-color: #4152ad;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-features-section {
  background: var(--main-color);
  padding: 30px;
}
.l-register-div {
  text-align: center;
  padding: 30px;
  background: var(--main-color);
  color: white;
}
.l-wallpaper-image {
  width: 100%;
}
.text-style-3 {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: var(--tertiary-color);
  line-height: 80px;
  margin-bottom: 20px;
}
.text-style-4 {
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: var(--tertiary-color);
  margin-bottom: 20px;
}
.email-receive {
  border: solid 2px gray;
  padding: 5px;
  border-radius: 3px;
  padding-left: 15px;
}
.text-style-5 {
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: var(--btn-color);
  margin-bottom: 20px;
}

.l-fixation-2 {
  padding: 50px;
  padding-inline: 90px;
}
.l-email-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .l-register-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
